.containerkeyterms {
  display: flex;
  background-color: lightskyblue;
  border: 2px ;
  padding: 20px;
  margin: 20px
}

.containerkeyterms div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 18px;
}

.timeline-table {
  display: flex;
  background-color: rgb(176, 241, 176);
  border: 2px ;
  padding: 27px;
  margin: 20px;
  text-align: center;
  color: darkblue;
  text-shadow: 1px 1px 1px purple;
}

.timeline-table div {
  background-color: #5e1599;
  margin: 10px;
  padding: 20px;
  font-size: 18px;
}

.taskbar ul
{
    margin:0;
    padding: 0;
    background-color: black;
}
.taskbar li
{
    display: inline-block;
    color:whitesmoke
}
.taskbar a
{ 
    display: inline-block;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: blue;
}
.taskbar a:hover
{
   background-color: purple;
}
/*navigationbar*/
header {
    padding: .1em;
    background-color: black;
    text-align: center;
}

body {
  background-color: beige
}

h1 {
  color: purple;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
}
p {
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}

h2 {
  color: purple;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size:145%;
}
p{
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}

h3 {
  color: purple;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 17px;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 12px;
  text-align:center;
  margin-top: 12px;
}
.references {
  background-color: lightgrey;
  border: 2px ;
  padding: 20px;
  margin: 20px;
}

.about {
  border: 2px ;
  padding: 20px;
  margin: 20px;
  background-color: blue;
  font-style: italic;
  font-size: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  
}
#hovercontent {
  display: center;
  background-color: turquoise;
  border: 4px solid black;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;

ul {
       list-style-type: none;
       padding: 10px;
       margin: 10px;
       font-size: 17px;
   

}}
ul {
  list-style-type: square;
  padding: 10px;
  margin: 10px;
  font-size: 17px;
}

#hovercontent:hover {
  background-color: thistle;
  font-size: 20px;
}

.timeline-header {
  text-align: center;
  margin-bottom: 20px;
}

#survey-questions {
  background-color: lightyellow;
  border: 2px ;
  padding: 20px;
  margin: 20px;
  text-align: left;
  color:blue;
}